* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
    margin: auto;
    padding-right: 130px;
    display: flex;
    justify-content: center;
}
.group {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
}
.phone-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-logo img {
    width: 650px;
    height: 680px;
    margin-top: -18px;
    margin-right: -400px;
    overflow: hidden;
}
.phone-logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-logo2 img {
    width: 350px;
    height: 600px;
    margin-top: 50px;
}
.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid rgb(179, 178, 178);
    background-color: white;
}
.line {
    width: 100%;
    margin: 20px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(167, 166, 166);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}
.logo img {
    width: 200px;
}
.form-email {
    width: 280px;
    height: 40px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(179, 178, 178);
    border-radius: 3px;
}
.password {
    width: 280px;
    height: 40px;
    padding: 8px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(179, 178, 178);
    border-radius: 3px;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 280px;
    height: 30px;
    margin-top: 20px;
    border: none;
    background-color: rgb(62, 141, 245);
    border-radius: 3px;
}
.whapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -12px;
    margin-top: 42px;
}
.footer-painel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.get-app {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-variant: Arial;
    margin: 20px;
}
.connect {
    display: flex;
    width: 350px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-variant: Arial;
    border: 1px solid rgb(179, 178, 178);
    background-color: white;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.connect a {
    color:dodgerblue;
}
.baseboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}
.baseboard ul {
    display: flex;
    margin: 2px;
    list-style: none;
    flex-direction: row;
    align-items: center;
}
.button-click {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#button-apple {
    width: 150px;
    height: 45px;
}
#button-play {
    width: 150px;
    height: 64px;
}
.form-login a p{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.facebook-link {
    width: 100px;
    height: 50px;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #2f55a4;
    text-decoration: none;
}
#facebook {
    width: 17px;
    height: 17px;
    margin-bottom: -3px;
    margin-right: 2px;
}
.navbar {
    margin-top: 30px;
    margin-bottom: 5px;
}
.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 5px;
    color: rgb(167, 166, 166);
}
.navbar2 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 5px;
    color: rgb(167, 166, 166);
}
.navbar3 {
    margin-top: 10px;
    margin-bottom: 55px;
}
.navbar3 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 20px;
    color: rgb(167, 166, 166);
}
@media (max-width: 400px) {
    .container {
        width: 100%;
        min-height: 100vh;
        background-color: rgb(250, 250, 250);
        margin: auto;
        padding-right: 5%;
        padding-left: 5%;
        display: flex;
        justify-content: center;
    }
    .phone-logo {
        display: none;
    }
    .phone-logo2 {
        display: none;
    }
    .group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .baseboard {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: rgb(250, 250, 250);
    }
    .navbar {
        padding: 2%;
        width: 80%;
    }
    .navbar a {
        padding: 2px;
    }
    .navbar2 {
        padding: 2%;
        width: 80%;
    }
    .navbar3 {
        padding: 2%;
        width: 50%;
    }
    .group {
        width: 100%;
    }
    .whapper {
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
    }
    .logo {
        width: 90%;
    }
    .form-login {
        width: 100%;
    }
    .connect {
        width: 100%; 
    }
    .form-email {
        width: 100%;
    }
    .password {
        width: 100%;
    }
    button {
        width: 100%;
    }
    .button-click {
        width: 100%;
        justify-content: center;
    }
    .button-click img {
        width: 90%;
    }
    .footer-painel {
        width: 100%;
    }
}
@media (max-width: 950px) {
    .container {
        width: 100%;
        min-height: 100vh;
        background-color: rgb(250, 250, 250);
        margin: auto;
        padding-right: 5%;
        padding-left: 5%;
        display: flex;
        justify-content: center;
    }
    .phone-logo {
        display: none;
    }
    .phone-logo2 {
        display: none;
    }
    .group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .baseboard {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: rgb(250, 250, 250);
    }
    .navbar {
        padding: 2%;
        width: 80%;
    }
    .navbar a {
        padding: 2px;
    }
    .navbar2 {
        padding: 2%;
        width: 80%;
    }
    .navbar3 {
        padding: 2%;
        width: 50%;
    }
    .group {
        width: 100%;
    }
    .whapper {
        margin-left: 0;
        margin-top: 5%;
    }
    .logo {
        width: 90%;
    }
    .form-login {
        width: 100%;
    }
    .connect {
        width: 100%; 
    }
    .form-email {
        width: 100%;
    }
    .password {
        width: 100%;
    }
    button {
        width: 100%;
    }
    .button-click {
        width: 100%;
        justify-content: center;
    }
    .button-click img {
        width: 90%;
    }
    .footer-painel {
        width: 100%;
    }
}